/* ==========================================================
   Footer
   ========================================================== */

@layer base, components, overrides;

/* ------------------------------
   Base
   ------------------------------ */

@layer base {
  .footer {
    container-type: inline-size;
    container-name: footer;
    color: $color-light;
    padding: 2.5rem 0;
    background-color: $color-fondo;

    &__text {
      color: $color-light;
      font-weight: 500;
    }

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      text-align: center;
    }

    /* Logo */
    &__logo {
      text-decoration: none;
      font-size: 1.6rem;

      img {}
    }

    /* Menú */
    &__nav-list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 0;
      margin: 0;
    }

    &__nav-item {}

    &__nav-link {
      text-decoration: none;
      font-size: 1.2rem;
      color: $color-light;

      &:hover {
        text-decoration: underline;
      }
    }

    /* Redes sociales */
    &__social-list {
      display: flex;
      gap: 1.5rem;
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    &__social-item {
      list-style-type: none;
    }

    &__social-link {
      color: $color-light;
      text-decoration: none;

      &:hover {
        opacity: 0.8;
      }

      i {
        font-size: 1.3rem;
      }
    }
  }
}

/* -----------------------------------
   Components
   ----------------------------------- */

@layer components {
  /* Aquí puedes poner componentes extra si hiciera falta */
}

/* -----------------------------------
   Overrides
   ----------------------------------- */

@layer overrides {

  @container footer (min-width: 700px) {

    .footer__container {
      flex-direction: row;          /* DESKTOP → fila */
      justify-content: space-between;
      align-items: center;
      text-align: left;
      gap: 3rem;
    }

    .footer__nav-list {
      flex-direction: row;          /* menú en fila */
      gap: 3rem;
    }
  }
}
