// Bloque principal del footer
.footer {
  color: $color-light;
  padding: 2.5rem 0rem;
  background-color: $color-fondo;

  &__text {
    color: $color-light;
    font-weight: 500;
  }

  // Container del footer
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  // Elemento del logo
  &__logo {
    // Contenedor del logo
    text-decoration: none;
    font-size: 1.6rem;

    img {
      // Imagen del logo
    }
  }

  // Lista del menú del footer
  &__nav-list {
    // UL del menú
    list-style-type: none;
    display: flex;
    gap: 3rem;
  }

  // Elemento de la lista del menú
  &__nav-item {
    // LI del menú
  }

  // Enlaces del menú del footer
  &__nav-link {
    // Link del menú
    text-decoration: none;
    font-size: 1.2rem;
    color: $color-light;

    &:hover {
      // Hover del enlace
      text-decoration: underline;
    }
  }

  // Lista de enlaces a redes sociales
  &__social-list {
    // UL de redes sociales
    display: flex;
    gap: 1.5rem;
  }

  // Elemento individual de cada red social
  &__social-item {
    // LI de red social
    list-style-type: none;
    display: flex;
    gap: 1rem;
    text-decoration: none;
  }

  // Enlace hacia la red social (icono clicable)
  &__social-link {
    // Link de red social
    color: $color-light;

    &:hover {
      // Hover del link
    }

    i {
      // Icono de FontAwesome
    }
  }
}
