// Bloque principal del header
.header {
  color: $color-light;
  padding: 2.3rem 0rem;
  border-bottom: 1px solid;
  border-color: $gray-100;

  // Contenedor del navegador principal
  &__nav {
    // Estructura del nav
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  // Elemento del logo dentro del header  
  &__logo {
    // Contenedor del logo
    text-decoration: none;
    font-size: 1.6rem;

    img {
      // Imagen del logo
    }
  }

  // Lista del menú de navegación
  &__nav-list {
    // UL del menú
    list-style-type: none;
    display: flex;
    gap: 3rem;
    font-size: 1.2rem;
  }

  // Item del menú de navegación
  &__nav-item {
    // LI del menú
  }

  // Enlaces de cada elemento del menú
  &__nav-link {
    // Link del menú
    text-decoration: none;

    &:hover {
      // Hover de los enlaces
      text-decoration: underline;
    }
  }

  // Estado activo del item de navegación
  &__nav-item--active {
    .header__nav-link {
      // Estilo del enlace cuando el item está activo
    }
  }
}

// Versión de index.html

.page--home .header {
  background: black;   // o el color especial
  border-bottom: none;       // sin borde
  position: absolute;        // si quieres que flote encima del póster
  width: 100%;
  z-index: 10;

  // Si la navbar debe ser clara sobre fondo de imagen
  color: $color-light;

  // Si los enlaces deben ser más visibles:
  .header__nav-link {
    color: $color-light;

    &:hover {
      text-decoration: underline;
    }
  }
}

