// Bloque principal del header
.header {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  width: 100%;

  // Contenedor del navegador principal
  &__nav {
    // Estructura del nav
  }

  // Elemento del logo dentro del header
  &__logo {
    // Contenedor del logo

    img {
      // Imagen del logo
    }
  }

  // Lista del menú de navegación
  &__nav-list {
    // UL del menú
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
  }

  // Item del menú de navegación
  &__nav-item {
    // LI del menú
  }

  // Enlaces de cada elemento del menú
  &__nav-link {
    // Link del menú
    text-decoration: none;

    &:hover {
      // Hover de los enlaces
      text-decoration: underline;
    }
  }

  // Estado activo del item de navegación
  &__nav-item--active {
    .header__nav-link {
      // Estilo del enlace cuando el item está activo
    }
  }
}
