/* ==========================================================
   Artículo
   ========================================================== */

@layer components {
  .article {
    /* -----------------------------------------
     CONFIGURACIÓN CONTAINER QUERY
     ----------------------------------------- */

    container-type: inline-size;
    container-name: article;
    padding-bottom: 2rem;

    /* -----------------------------------------
       Estilo base
    ----------------------------------------- */
    &__heading {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 350px;
      width: 100%;
      background-image: url("/src/assets/images/cocina-catalana.png");
      background-size: cover;
      background-position: center;
      gap: 0.5rem;
      margin-bottom: 2rem;
    }

    /* Capa blanca: overlay */
    &__heading::after {
      content: "";
      position: absolute;
      inset: 0;
      background: rgb(255 255 255 / 55%);
      z-index: 1;
    }

    &__heading > * {
      position: relative;
      z-index: 2;
    }

    &__title {
      font-size: 2.5rem;
      font-weight: 600;
      color: $color-light;
      text-shadow: 0 2px 6px rgb(0 0 0 / 55%);
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    &__author {
      font-size: 1.5rem;
      font-weight: 300;
      color: $color-light;
      text-shadow: 0 2px 6px rgb(0 0 0 / 55%);
      margin: 0;
    }

    &__badge {
        padding: 0.35em 0.65em;
        font-size: 1rem;
        font-weight: 300;
    }

    /* -----------------------------------------
       Destacado
    ----------------------------------------- */
    &__featured {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem 2rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid $gray-300;
    }

    &__featured-text,
    &__featured-description {
      width: 100%;
      font-size: 1.4rem;
    }

    &__featured-text {
      font-weight: 400;
      color: $color-dark;
    }

    &__featured-description {
      color: $gray-700;
    }

    /* -----------------------------------------
       Contenido
    ----------------------------------------- */
    &__content {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      padding: 0 2rem;
      font-size: 1.2rem;
      line-height: 1.6;
      margin-bottom: 2rem;
    }

    &__paragraph {
      color: $gray-700;
    }

    &__paragraph:last-of-type {
      padding-bottom: 1.5rem;
    }

    &__h2 {
      font-size: 1.4rem;
      font-weight: 500;
      color: $color-dark;
    }

    /* -----------------------------------------
       Cita
    ----------------------------------------- */
    &__quote {
      padding: 0.5rem 1.5rem;
      border-left: 4px solid $gray-700;
      background: $blanco;
      color: $gray-900;
      font-style: italic;
      font-size: 1.5rem;
    }

    /* -----------------------------------------
       Listas
    ----------------------------------------- */
    &__list {
      list-style: none;
      margin: 0.5rem 0;
      padding-left: 0;
    }

    &__list--alpha {
      counter-reset: alpha-counter;
    }

    &__list-item {
      counter-increment: alpha-counter;
      position: relative;
      margin: 0.6rem 0;
      padding-left: 2.5rem;
      color: $gray-700;

      &::before {
        content: counter(alpha-counter, upper-alpha);
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        background: $gray-300;
        color: $gray-900;
        font-size: 0.85rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0.2rem;
        left: 0;
      }
    }

    /* -----------------------------------------
       Imágenes
    ----------------------------------------- */
    &__figure {
      width: 100%;
      margin: 1.5rem auto;
      border-radius: 7px;
      margin-block: 2rem;
      box-shadow: 0 1px 3px #0000001a;
      overflow: hidden;
      transition: transform .3s, box-shadow .3s;
    
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px #00000026;
      }
    }

    &__img {
      width: 100%;
      height: auto;
      border-radius: 7px 7px 0 0;
      object-fit: cover;
    }

    &__caption {
      padding: 0.8rem;
      font-size: 0.9rem;
      font-weight: 300;
      text-align: center;
    }

  }

}

/* ==========================================================
   Pseudoclases funcionales
   ========================================================== */

/* :has() */
.article__content:has(.article__quote) {
  background: $gray-100;
  border-left: 4px solid $gray-300;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  transition: background .3s ease;
}

/* :is() */
.article :is(h2, h3) {
  scroll-margin-top: 6rem;
  color: $color-primary;
  font-weight: 600;
}

/* :where() */
.article :where(p, ul, ol, blockquote, figure) {
  line-height: 1.6;
}

/* ==========================================================
   Container queries
   ========================================================== */

/* 720px – tablet */
@container article (min-width: 720px) {
  .article {
    &__featured {
      max-width: 720px;
      margin-left: auto;
      margin-right: auto;
      padding: 2rem;
    }

    &__featured-text {
      font-size: 1.3rem;
    }

    &__featured-description {
      font-size: 1.3rem;
    }

    &__content {
      max-width: 720px;
      margin: auto;
    }
  }
}

/* 1024px – desktop medio */
@container article (min-width: 1024px) {
  .article {
    &__heading {
      height: 650px;
      margin-bottom: 3rem;
    }

    &__featured {
      padding: 1rem;
      padding-bottom: 2rem;
    }

    &__h2 {
      font-size: 1.8rem;
    }

    &__figure {
      margin-left: auto;
      margin-right: auto;
    }
  }
}


/* 1280px – desktop grande */
@container article (min-width: 1280px) {
  .article {
    &__featured-text {
      font-size: 1.5rem;
    }

    &__featured-description {
      font-size: 1.5rem;
    }

    &__figure {
      max-width: 1024px;
    }
  }
}
