// Limitar el ancho máximo

.wrapper {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

/* ==========================================================
    Breadcrumbs
    ========================================================== */

@layer components {
  .extra__breadcrumbs {

    .extra__breadcrumbs-list {
      margin: 2rem auto;
      display: flex;
      width: fit-content;
    }

    .breadcrumb {
      display: flex;
    }

    .breadcrumb-item + .breadcrumb-item::before {
      margin: 0 0.5rem;
    }
  }
}


