// Limitar el ancho máximo

.wrapper {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

/* ==========================================================
    Breadcrumbs
    ========================================================== */

    .extra__breadcrumbs {
      margin: 2rem auto;
      display: flex;
      width: fit-content;
    }

    .breadcrumbs {
      display: flex;
      list-style: none;
      padding: 0;
      gap: 0.5rem;

      font-size: 0.95rem;
      color: $gray-700;
    }

    .breadcrumbs__item {
      color: $gray-700;
      font-weight: 300;

      &::after {
        content: "/";
        margin-left: 0.5rem;
        color: $gray-500;
      }

      &:last-child::after {
        content: "";
      }
    }

    .breadcrumbs__link {
      color: $color-primary;
      text-decoration: none;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
        color: color-mix(in oklch, $color-primary 80%, $color-dark 20%);
      }
    }

    .breadcrumbs__item--active {
      color: $gray-500;
      pointer-events: none;
      font-weight: 300;
    }