<!--Header-->
<header class="header">
    <nav class="header__nav">
        <!--Logo-->
        <a href="/src/index.html" class="header__logo">
            <img src="#" alt="" width="" height="">
        </a>

        <!--Menú-->
        <ul class="header__nav-list">
            <!--Artículo-->
            <li class="header__nav-item">
                <a href="/src/index.html" class="header__nav-link">Artículo</a>
            </li>

            <!--Extra-->
            <li class="header__nav-item">
                <a href="/src/extra.html" class="header__nav-link">Extra</a>
            </li>

            <!--Ponentes-->
            <li class="header__nav-item">
                <a href="/src/ponentes.html" class="header__nav-link">Ponentes</a>
            </li>
        </ul>
    </nav>
</header>