// ============================
// Paleta de colores
// ============================

// Colores principales
$color-primary: oklch(65% 0.12 40deg);      // Tierra cálida
$color-secondary: oklch(82% 0.06 70deg);    // Madera
$color-accent: oklch(70% 0.10 150deg);      // Verde
$color-fondo: oklch(46.65% 0.102 55.62deg); // Marrón de fondo

// Colores complementarios
$color-dark: oklch(40% 0.06 35deg);         // Cacao
$color-light: oklch(98.182% 0.01509 76.978);        // Harina
$blanco: oklch(100% 0.0001 271.152deg);        // Blanco
$color-accent-warm: oklch(78% 0.12 90deg);  // Cúrcuma
$color-accent-cool: oklch(68% 0.05 210deg); // Arcilla
$Info: #0dcaf0;

// Grises tierra
$gray-900: oklch(28% 0.01 70deg);
$gray-700: oklch(45% 0.01 70deg);
$gray-500: oklch(60% 0.01 70deg);
$gray-300: oklch(78% 0.01 70deg);
$gray-100: oklch(93% 0.01 70deg);
