// =========================
// Escala de iconos
// =========================

$icon-size-xs: 0.75rem;
$icon-size-sm: 1rem;
$icon-size-md: 1.5rem;
$icon-size-lg: 2rem;
$icon-size-xl: 3rem;
$icon-size-xxl: 4rem;

// Clases utilitarias opcionales
.icon-xs   { font-size: $icon-size-xs; }
.icon-sm   { font-size: $icon-size-sm; }
.icon-md   { font-size: $icon-size-md; }
.icon-lg   { font-size: $icon-size-lg; }
.icon-xl   { font-size: $icon-size-xl; }
.icon-xxl  { font-size: $icon-size-xxl; }
