html, body {
    font-family: $font-primary;
}

// Enlaces del blog

.link {
  font-weight: 600;

  &--primary {
    color: var(--brand-color);
  }
}

// Negritas del blog

.article {
  &__highlight {
    font-weight: 600;
    color: $gray-700;
  }
}
