/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

/**
 * Import dependencies
 */

// 1. Settings
@import "generic/reset";
@import "settings/variables";
@import "settings/colors";
@import "settings/icons";

// 2. Tools
@import "tools/functions";

// 4. Elements
@import "elements/base";

// 5. Objects
@import "objects/layout";

// 6. Components (BEM)
@import "components/header";
@import "components/footer";

// 7. Utilities

/**
 * Page layouts
 */
@import "pages/index";
@import "pages/speakers";
@import "pages/articulo";
@import "pages/extra";

/**
 * Do NOT include anything else in this file!
 */
