/**
 * MAIN.SCSS
 * Bootstrap aislado
 */

/* -------------------------------------------------------------
   1) Orden de cascada
   ------------------------------------------------------------- */
@layer bootstrap, base, components;

/* -------------------------------------------------------------
   2) Bootstrap aislado
   ------------------------------------------------------------- */
@layer bootstrap {
  @import "dependencies"; //
}

/* -------------------------------------------------------------
   3) Variables globles
   ------------------------------------------------------------- */
@import "settings/colors";     // Colores OKLCH (PEC)
@import "settings/variables";  // Tipografías, tamaños, etc.

/* -------------------------------------------------------------
   4) Estilos
   ------------------------------------------------------------- */
@layer base {
  @import "generic/reset";
  @import "settings/icons";
  @import "tools/functions";

  @import "elements/base";
  @import "objects/layout";
}

/* -------------------------------------------------------------
   5) Componentes y páginas
   ------------------------------------------------------------- */
@layer components {
  @import "components/header";
  @import "components/footer";

  @import "pages/index";
  @import "pages/speakers";
  @import "pages/articulo";
  @import "pages/extra";
}

/**
 * Fin
 */
